body{
  background-color: #b5e7b4;
}

h1{
  text-align: center;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.link{
  background-color: #196316;
  color: white;
  padding: 13px 24px;
  text-decoration: none;
  margin-right: 30px;
  display: inline-flex;
  margin-bottom: 15px;
  align-items: center;
  text-align: center;
}

p{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17.5px;
}